---
import type { GetStaticPaths } from "astro";
import { render } from "astro:content";
import { getCollection } from "astro:content";
import Baselayout from "../../layouts/Baselayout.astro";
export const getStaticPaths = async () => {
    const works = await getCollection("works")

    return works.map((work) => {

        return {
            params: {slug: work.id},
            props: work
        }
    })
}

const work = Astro.props;
const { Content } = await render(work)
---


<Baselayout>
    <h1>{work.data.title}</h1>
    <p>{work.data.date.getFullYear()}-{work.data.date.getMonth()+1}</p>
    <div class="tags">{work.data.tags.map(tag => (
        <a href={tag}> {tag} </a>
    )
)}</div>
    <Content></Content>
</Baselayout>

<style>
    .tags {display: flex;
    flex-direction: column;
    }
</style>