---
import Baselayout from "../layouts/Baselayout.astro";
---

<Baselayout>
	<nav>
		<h1>Cynetic Studios</h1>

		<div class="types">
			<h2>Design</h2>
			<h2>Artwork</h2>
		</div>
	
	</nav>
</Baselayout>

<style>
	nav{
		display:flex;
		justify-content: space-between;
		padding: 2em;

	}
	.types{
		display:flex;
		justify-content: space-between;
		gap: 2em;
	}
</style>