---
import Baselayout from "../layouts/Baselayout.astro";
---

<Baselayout>
	<nav>
		<div class="types">
			<a href="design">Design</a>
			<a href="art">Artwork & Sound</a>
			<a>Curation</a>
			<a>About</a>
		</div>

		<h1>Cynetic</h1>

		
	
	</nav>
	<script is:inline src="/sketch.js" > </script>
</Baselayout>

<style is:global>
	canvas {
		position: absolute;
		top: 0;
		z-index: -10;
	}

	nav{
		display:flex;
		justify-content: space-between;
		padding: 2em;

	}
	.types{
		display:flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 2em;
		font-size: 30pt;
	}
	h1 {
		all: unset;
		font-size: 30pt;

	}
</style>

