---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	  	<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.1.9/p5.js"/>
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Cynetic</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=DotGothic16&family=Elms+Sans:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap" rel="stylesheet">
	</head>
	<body>
        <slot>
		</slot>
	</body>
</html>

<style>
	h1, h2 {
  font-family: "Nunito Sans", sans-serif;
}
    body{
        background-color: white;
        color:blueviolet;
		font-family: "Nunito Sans", sans-serif;
    }
</style>